<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../statics/styles.css">

        <title>Menu con CSS</title>
    </head>
    <body>
        <header>

            <section class="nombre_icono">
                <img class="icono"  src="../assets/avatar-ej1.png" alt="Foto de perfil">
                <h3 class="nombre">
                    Gonzalo Fernandez
                </h3>
            </section>

        </header>


        <main>
            <div>
                <ul>
                    <li> <img src="../assets/check-circle.svg" alt="Icono"> <p> LINK 1 </p> </li>
                    <li> <img src="../assets/check-circle.svg" alt="Icono"> <p> LINK 2 </p> </li>
                    <li> <img src="../assets/check-circle.svg" alt="Icono"> <p> LINK 3 </p> </li>
                    <li> <img src="../assets/check-circle.svg" alt="Icono"> <p> LINK 4 </p> </li>
                    <li> <img src="../assets/check-circle.svg" alt="Icono"> <p> LINK 5 </p> </li>
                </ul>
            </div>
        </main>


        <footer>
            
            <img class="twitter" src="../assets/twitter.svg" alt="logo de twitter">
            <img class="facebook" src="../assets/facebook-f.svg" alt="logo de facebook">
            <img class="linkedin" src="../assets/linkedin.svg" alt="logo de linkedin">

        </footer>

    </body>
</html>