body{
    background-image: url('../assets/bg-palm.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.nombre_icono{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nombre{
    font-size: x-large;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    display: flex;
    justify-content: center; 
    align-items: center;
}

main li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: whitesmoke;
    width: 500px;
    height: 15px;
    padding: 20px;
    margin-top: 10px;
    border-radius: 25px;
    list-style: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

li img{
    position: absolute;
    align-self: flex-start;
    width: 20px;
    height: auto;
    margin-left: 0px;
}

li p{
    flex: 1;
    text-align: center; 
    margin: 0; 
}

footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-bottom: 40px;
  }

footer img {
    width: 40px; 
    height: auto;
    margin: 0 30px; 
}